body{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color: black;
}

#space{
    background-image: url("../assets/png/Background/starBackground.png");
    position: relative;
    overflow: hidden;
}

#ship{
    position: absolute;
}

.ship-shot{
    position: absolute;
}

#vidas{
    position: absolute;
    left: 400px;
    top: 5px;
    z-index: 1;
}

#pontuacao{
    position: absolute;
    font-size: 24px;
    color: white;
    left: 518px;
    top: 6px;
    font-family: Arial, sans-serif;
    z-index: 1;
}

.enemy-ship{
    position: absolute;
    z-index: 0;
}

#menu{
    position: absolute;
    margin-left: 150px;
    margin-top: 380px;
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
    z-index: 1;
}

td{
    text-align: center;
}